<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Exti - SPA</a>
  <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Accueil</a>
        <a class="nav-item nav-link" href="/apropos">À Propos</a>
        <a class="nav-item nav-link" href="/contact">Contact</a>
      </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/bfillion/angular" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </div>
</nav>